:root{
    /* --background: #1A1A1E;
    --text-color: #8234E9;
    --color-span: #29E0A9; */
    --background: #FFFFFF;
    --text-color: #ea8f28;
    --color-span: #C70039;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    /* background-color: var(--background); */
    background: #000000;
    /* background: linear-gradient(90deg, rgba(8,8,17,1) 0%, rgba(21,21,34,1) 92%); */
}

header{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

h1{
    color: var(--text-color);
    text-align: center;
    /* -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: rgb(255, 255, 255); */
}

h1 span{
    color: var(--color-span);
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.input_box {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #ddd;
}

input, select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}

.enviar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 28%;
    /* background-color: #8234E9; */
    background-color: var(--color-span);
    font-size: large;
    font-weight: bold;
    padding: 8px;
    margin-top: 30px;
    margin-left: 280px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

h3{
    color: rgb(190, 184, 184);
    font-size: smaller;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}

.res_container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.risco_fogo{
    display: flex;
    gap: 16px;
}

.risco_number{
    font-size: 2.5rem;
}

.risco_text{
    font-size: 1rem;
    color: #8234E9;
}

#map{
    height: 300px; 
    margin-top: 40px;
}

.container-resultado{
    margin-top: 40px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
}

.risco-text{
    font-size: 2rem;
}

.invisivel{
    display: none;
}