:root{
    --background: #1A1A1E;
    --text-color: #8234E9;
    --color-span: #29E0A9;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    /* background-color: var(--background); */
    background: rgb(8,8,17);
    background: linear-gradient(90deg, rgba(8,8,17,1) 0%, rgba(21,21,34,1) 92%);
}

header{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

h1{
    color: var(--text-color);
    text-align: center;
}

h1 span{
    color: var(--color-span);
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.input_box {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #ddd;
}

input, select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}

.enviar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    /* background-color: #8234E9; */
    background-color: var(--color-span);
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin: 40px;
    margin-left: 280px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

h3{
    color: rgb(190, 184, 184);
    font-size: medium;
    font-weight: normal;
    text-align: center;
}